html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #F1F1F1;
}
main{
    display: flex;
    height: 100%;
}

section#add-todo{
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
section#view-tasks{
    padding: 50px 100px;
    flex-basis: 100%;
}

/* View Tasks Section
 * -----------------------------------------------------------------------------------
 */

 #view-tasks h1{
     font-size: 35px;
     font-weight: 700;
     margin: 35px 0;
     -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }
 #view-tasks h1 i{
     font-size: 20px;
     font-weight: 700;
     padding-right: 10px;
 }

 .horizontal-form{
     display: flex;
     justify-content: space-between;
 }
 #select-all-button{
    margin-right: 50px;
 }
 #select-all-button:hover{
     background-color: #6247AA;
     color: white;
 }

 .searchbox-container{
     background-color: #E1DFE8;
     border-radius: 4px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0 20px;
 }
 #searchbox{
     background-color: #E1DFE8;
     font-weight: 500;
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     size: 20;
     margin: 0 10px;
     border: none;
 }

 .task-list{
     display: flex;
     flex-flow: column wrap;
     margin-top: 20px;
 }
 .task{
     display: flex;
     margin: 15px 0;
 }

 .task-subcontainer{
     background-color: white;
     border-radius: 8px;
     box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.1);
 }
 .task-checkbox-container{
     display: flex;
     align-items: center;
     padding: 30px 50px;
     margin-right: 20px;
 }
 .task-checkbox-container input[type=checkbox]{
     border-radius: 5px;
     transform: scale(2);
     /* Checkbox styles cannot be modified */
 }
 .task-description-container{
     flex-basis: 100%;
     display: flex;
     padding: 5px 20px;
     cursor: pointer;
 }
 .task-image{
     display: flex;
     align-items: center;
 }
 .task-image img{
     width: 70px;
     height: 70px;
 }
 .task-info{
     flex-basis: 100%;
     margin-left: 30px;
 }
 .task-main-info{
     margin: 15px 0;
     display: flex;
     justify-content: space-between;
     align-content: center;
 }
 .task-title{
     font-size: 30px;
 }
 .task-completed{
     color: #187007;
     font-weight: 900;
     margin: 0 20px;
 }
 .task-urgent{
     color: #6549AB;
     font-weight: 900;
     margin: 0 20px;
 }
 .task-date{
     font-weight: 700;
 }
 .task-description{
     color: #8A8A8A;
     font-weight: 300;
 }
 .task-categories{
     display: flex;
     flex-direction: row-reverse;
 }
 .task-category{
     margin: 5px 15px;
     display: flex;
 }
 .task-category div{
     width: 15px;
     height: 15px;
     border-radius: 4px;
     margin-left: 6px;
 }
 


/*
 * Slide-left Animation
 */
@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
    }
  }
  

/* Add Categories Section
 * -----------------------------------------------------------------------------------
 */

.header-logo{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    -ms-flex-item-align: center;
    align-content: center;
    padding: 30px 30px;
}
.button-confirm-category{
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    font-weight: 800;
    background-color: #E1DFE8;
}
.categories-add{
    padding-top:30px;
    display: flex;
}
.select-category-color{
    background-color: #EAE7F1;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.category-name-textbox{
    margin: 0 7px;
    background-color: #EAE7F1;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
#category-name{
    background-color: #EAE7F1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    width: 100px;
    margin: 0 10px;
}
.view-what-tasks{
    padding: 10px;
    margin: 10px;
}
.view-options{
    padding-top: 20px;
    font-size: large;
}

button#add{
    color: white;
    background-color: #6247AA;
    font-weight: 500;
    padding: 10px 70px;
}

a:link{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.view-container{
    padding-top: 20px;
}
.view-options{
    color: black;
    font-size: 22px;
    cursor: pointer;
}
.view-options.normal-cursor{
    cursor: default;
}
.view-options i{
    margin-right: 10px;
    font-size: 18px;
}
.view-options.active{
    color: #6247AA;
}
.add-categories-container{
    font-size: large;
}
.link-button{
    color: white;
}
.category-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0 0 50px;
}
.category{
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.category p{
    font-size: 19px;
    font-weight: 400;
}

.delete-category-button{
    border:  none;
    background-color: transparent;
    padding-right: 8px;
}
.delete-category-button i{
    color: #C3C3C3;
}
.category-color{
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border-radius: 5px;
}
.next-to-logo{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.next-to-logo h2{
    font-weight: 700;
    font-size: 25px;
}

.next-to-logo p{
    color: grey;
    font-size: medium;
    padding-top: 1px;
}