@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

body{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.normal-button{
    background-color: #AAA1C8;
    color: black;
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    display: inline-block;
    margin: 0 5px;
}
.normal-button:hover{
    background-color: #8b83a7;
}
.normal-button.squared{
    padding: 15px 20px;
}
.normal-button.disabled{
    background-color: #C6C6C6;
}
.normal-button.enabled{
    background-color: #8B73D9;
}

a:link{
    text-decoration: none;
    color:black;
}
a:active{
    text-decoration: none;
    color:#8B73D9;
}