body{
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.form {
    border-radius: 5px;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
}

.hdr {
    display: flex;
    align-items: center;
    padding-bottom: 3%;
    width: 100%;
    text-align: left;
}

.currImg {
    width: auto;
    height: 120px;
    padding-right: 20px;
}

.taskImage {
    display: flex;
    background-color: rgb(170, 161, 200, 0.25);
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding-top: 7px;
    padding-bottom: 7px;
    align-items: center;
}

.taskImage img {
    height: 60px;
    margin-left: 7px;
    margin-right: 7px;
    cursor: pointer;
}

.fila {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 20px;
}

.fila div:first-child {
    padding-right: 20px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 0px solid #AAA1C8;
    background-color: rgb(170, 161, 200, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
}

#taskCategory{
    width: fit-content;
    padding: 12px;
    border: 0px solid #AAA1C8;
    background-color: rgb(170, 161, 200, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 36px;
    resize: vertical;
    color: black;
}

#taskCategory:hover{
    cursor: pointer;
}

#taskCategory i{
    padding-left: 50px;
}
#select-category{
    background-color: #DFDEE7;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.error{
    color: #FF0000;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
  
.envia {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-top: 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 110px;
}

.buttons div:first-child{
    margin-right: 10px;
}

.check {
    display: flex;
    align-items: center;
}
#taskCompleted{
    transform: scale(2);
    margin: 0 10px;
}

.check p{
    padding-left: 5px;
}
